<% include partials/header %>
    <link rel="stylesheet" href="/css/styles.css">

    <h1><%= campground.name %></h1>

    <img src="<%= campground.image %>" alt="Campground Image">

    <p><%= campground.description %></p>

    <a href="/campgrounds">Go Back</a>

<% include partials/footer %>