<% include ../partials/header %>

    <div class="container text-center">
        <h1>Sign Up</h1>

        <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Username" required  autocomplete="off" spellcheck="false">
            <input type="password" name="password" placeholder="Password" required  autocomplete="off" spellcheck="false">
            <button>Sign Up</button>
        </form>
    </div>

<% include ../partials/footer %>